<% form_for(@keyword) do |f| %>
  	<%= f.error_messages %>

  <p>
	<%= f.label :word %><br />
	<%= f.text_field :word %>
  </p>
  <p>
	<%= f.label :site_id %><br />
	<%= f.text_field :site_id  %>
  </p>
  <p>
	<%= f.submit 'Create' %>
  </p>
<% end %>
