<p>
  <b>Word:</b>
  <%=h @keyword.word %>
</p>

<p>
  <b>Site:</b>
  <%=h @keyword.site_id %>
</p>

<%= render :partial => "sites_list", :locals => {:site => Site.find_by_id(@keyword.site_id)} %>


<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>