<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>qwkly - it works</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body<%= " onload='#{@onload}'"%> >


  <!--><img id="header" src="images/header3.1.png" />-->
  

  
  <p style="color: green"><%= flash[:notice] %></p>

  <%= yield %>
<br>
<br/>
<div id = "bar"  />
<%= link_to "List", "request/list"%>

</body>
</html>
